{% extends "layout.html" %}


{% block body %}


<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9N3L5E7YE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y9N3L5E7YE');
</script>


</head>


<hr>
<h3>Hakkımda</h3>
<hr>

<p> &nbsp&nbsp&nbsp Merhabalar ben Talha AVCI. Konya doğumluyum (aslen Sivaslıyım), ilköğretim, ortaöğretim ve lise eğitimimi
     Gemlik/BURSA'da aldıktan sonra üniversite eğitimim için 2011'de İstanbul'a geldim ve İstanbul'da
    yaşamaktayım. 2016'da İstanbul Üniversitesi Elektrik-Elektronik bölümünden mezun olduktan sonra
İstanbul'da özel bir şirkette çalışmaya başladım ve aynı yerde çalışmaya devam etmekteyim.
Hobilerim ; gezmek , yemek - içmek , farklı insanlarla tanışıp farklı ilgi alanları hakkında bilgi sahibi olmak
daha doğrusu değişik olan her türlü şeyi görmek ve öğrenmek. Bu blog'u açmamın nedeni ise birşeyler yazmak,
aklıma gelen bilgileri paylaşmak ve daha çok merak ettiğim sizlerden gelecek bilgileri, yorumları
 görmek diyebilirim. Sadece yazın beraber okuyalım sorular sorup cevaplayalım.
 Bu arada eğer bu yazdıklarımı okuyorsan zaten bana değer veren birisin ve
 eminim ben de sana değer veriyorumdur.
</p>
<p> &nbsp&nbsp&nbsp O zaman Makaleler'den devam.. Makalelerimi okuyabilir,yorum yapabilirsiniz , dilerseniz yeni makale ekleyebilirsiniz..</p>


{% endblock body %}